.archive {
  background-color: #ffffff1a;
  width: 100%;
  height: 1440px;
  display: flex;
  justify-content: center;
}

.archive .overlap-group {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0;
}

.archive .element,
.archive .p {
  width: 352px;
  font-family: "IBM Plex Mono-ExtraLight", Helvetica;
  font-weight: 400;
  color: #473617;
  font-size: 14px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.archive .element {
  top: 420px;
  left: 856px;
}

.archive .p {
  top: 1045px;
  left: 856px;
}

.archive .text-wrapper {
  font-weight: 200;
}

.archive .span {
  font-family: "Inter-ExtraLight", Helvetica;
  font-weight: 200;
}

.archive .title {
  position: absolute;
  width: 400px;
  height: 54px;
  top: 50px;
  left: 219px;
}

.archive .line {
  position: absolute;
  width: 1393px;
  height: 1px;
  top: 118px;
  left: 23px;
  object-fit: cover;
}

.archive .frame,
.archive .frame-1,
.archive .frame-2 {
  position: absolute;
  height: 23px;
  top: 79px;
  background-color: #fffffe;
}

.archive .frame {
  width: 121px;
  left: 880px;
}

.archive .frame-1 {
  width: 74px;
  left: 1026px;
}

.archive .frame-2 {
  width: 109px;
  left: 1130px;
}

.archive .text-wrapper-2,
.archive .text-wrapper-3,
.archive .text-wrapper-4 {
  font-family: "IBM Plex Mono-Bold", Helvetica;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.archive .text-wrapper-2 {
  width: 112px;
  top: -1px;
  left: 5px;
  color: #46361796;
}

.archive .text-wrapper-3 {
  width: 74px;
  top: -1px;
  left: 0;
  color: #46361796;
}

.archive .text-wrapper-4 {
  width: 97px;
  top: -1px;
  left: 2px;
  color: #463617;
}

.archive .group,
.archive .group-2 {
  position: absolute;
  height: 33px;
  font-size: 30px;
  font-family: "IBM Plex Mono-Bold", Helvetica;
  font-weight: 700;
  color: #473617;
  line-height: normal;
  white-space: nowrap;
}

.archive .group {
  width: 390px;
  top: 213px;
  left: 220px;
}

.archive .text-wrapper-5 {
  width: 388px;
  position: absolute;
  top: 0;
  left: 0;
}

.archive .group-2 {
  width: 576px;
  top: 838px;
  left: 220px;
}

.archive .text-wrapper-6 {
  width: 574px;
  position: absolute;
  top: 0;
  left: 0;
}

.archive .text-wrapper-7,
.archive .text-wrapper-8 {
  position: absolute;
  width: 108px;
  font-family: "IBM Plex Mono-Regular", Helvetica;
  font-weight: 400;
  color: #4736178c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.archive .text-wrapper-7 {
  top: 229px;
  left: 619px;
}

.archive .text-wrapper-8 {
  top: 858px;
  left: 790px;
}

.archive .overlap,
.archive .rectangle-wrapper {
  position: absolute;
  width: 500px;
  height: 352px;
  background-size: 100% 100%;
}

.archive .overlap {
  top: 301px;
  left: 264px;
}

.archive .rectangle-wrapper {
  top: 926px;
  left: 264px;
}

.archive .rectangle {
  position: absolute;
  width: 500px;
  height: 352px;
  top: 0;
  left: 0;
}

.archive .polygon,
.archive .polygon-wrapper,
.archive .img-wrapper,
.archive .polygon-3 {
  position: absolute;
  width: 14px;
  height: 40px;
}

.archive .polygon {
  top: 435px;
  left: 770px;
}

.archive .polygon-wrapper {
  top: 480px;
  left: 242px;
  transform: rotate(180deg);
}

.archive .img-wrapper {
  top: 1070px;
  left: 770px;
}

.archive .polygon-3 {
  top: 1120px;
  left: 242px;
  transform: rotate(180deg);
}

.archive .img,
.archive .polygon-2 {
  position: absolute;
  width: 30px;
  height: 78px;
  top: 5px;
  left: 4px;
}

.archive .ellipse,
.archive .ellipse-2,
.archive .ellipse-3,
.archive .ellipse-4,
.archive .ellipse-5,
.archive .ellipse-6,
.archive .ellipse-7,
.archive .ellipse-8,
.archive .ellipse-9 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #d9d9d9;
}

/* 各インジケーターの位置 */
.archive .ellipse {
  top: 680px;
  left: 473px;
}

.archive .ellipse-2 {
  top: 680px;
  left: 497px;
}

.archive .ellipse-3 {
  top: 680px;
  left: 521px;
}

.archive .ellipse-4 {
  top: 680px;
  left: 545px;
}

.archive .ellipse-5 {
  top: 1341px;
  left: 461px;
}

.archive .ellipse-6 {
  top: 1341px;
  left: 485px;
}

.archive .ellipse-7 {
  top: 1341px;
  left: 509px;
}

.archive .ellipse-8 {
  top: 1341px;
  left: 533px;
}

.archive .ellipse-9 {
  top: 1341px;
  left: 557px;
}

/* アクティブスタイル */
.ellipse.active,
.ellipse-2.active,
.ellipse-3.active,
.ellipse-4.active,
.ellipse-5.active,
.ellipse-6.active,
.ellipse-7.active,
.ellipse-8.active,
.ellipse-9.active {
  background-color: #333 !important;
}

@media (max-width: 480px) {
  .archive {
    flex-direction: column;
    align-items: center;
  }

  .archive .div,
  .archive .overlap-group {
    width: 100%;
    height: auto;
    overflow: visible;
    padding-bottom: 40px;
  }

  .archive .frame {
    width: 70%;
    max-width: 300px;
    height: auto;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .archive .line {
    width: 90%;
    left: 5%;
    top: 90px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 20px;
    gap: 10px;
  }

  .archive .frame,
  .archive .frame-1,
  .archive .frame-2 {
    position: static;
    background: none;
    width: auto;
    height: auto;
  }

  .archive .text-wrapper-2,
  .archive .text-wrapper-3,
  .archive .text-wrapper-4 {
    position: static;
    font-size: 16px;
    text-align: right;
  }

  .archive .group,
  .archive .group-2 {
    position: static;
    margin: 20px auto;
    width: 90%;
    text-align: center;
  }

  .archive .text-wrapper-5,
  .archive .text-wrapper-6 {
    font-size: 20px;
    white-space: normal;
  }

  .archive .text-wrapper-7,
  .archive .text-wrapper-8,
  .archive .element,
  .archive .p {
    position: static;
    text-align: center;
    width: 90%;
    margin: 10px auto;
  }

  .archive .overlap,
  .archive .rectangle-wrapper {
    position: static;
    width: 90%;
    height: auto;
    margin: 20px auto;
  }

  .archive .rectangle {
    width: 100%;
    height: auto;
    position: static;
  }

  .archive .polygon,
  .archive .polygon-wrapper,
  .archive .img-wrapper,
  .archive .polygon-3 {
    position: static;
    width: 30px;
    height: 30px;
    margin: 10px;
  }

  .archive .img,
  .archive .polygon-2 {
    width: 100%;
    height: auto;
    position: relative;
  }

  .archive .ellipse,
  .archive .ellipse-2,
  .archive .ellipse-3,
  .archive .ellipse-4,
  .archive .ellipse-5,
  .archive .ellipse-6,
  .archive .ellipse-7,
  .archive .ellipse-8,
  .archive .ellipse-9 {
    position: static;
    margin: 5px;
    display: inline-block;
  }

  .indicator-top,
  .indicator-bottom {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}