.aboutproject {
  background-color: #ffffff1a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.aboutproject-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.aboutproject .frame {
  position: absolute;
  width: 400px;
  height: 54px;
  top: 50px;
  left: 219px;
}

.aboutproject .line {
  position: absolute;
  width: 1393px;
  height: 1px;
  top: 118px;
  left: 23px;
  object-fit: cover;
}

.aboutproject .overlap-group {
  position: absolute;
  width: 1007px;
  height: 550px;
  top: 205px;
  left: 219px;
}

.aboutproject .ellipse {
  position: absolute;
  width: 540px;
  height: 540px;
  top: 5px;
  left: 462px;
  background-color: #fffeee;
  border-radius: 270px;
}

.aboutproject .div {
  position: absolute;
  width: 550px;
  height: 550px;
  top: 0;
  left: 457px;
  border-radius: 275px;
  border: 10px dotted;
  border-color: #ffa500;
  transform: rotate(-90deg);
}

.aboutproject .ellipse-2 {
  position: absolute;
  width: 540px;
  height: 540px;
  top: 5px;
  left: 0;
  background-color: #ffffff;
  border-radius: 270px;
  border: 5px solid;
  border-color: #ffa500;
}

.aboutproject .group-wrapper {
  position: absolute;
  width: 461px;
  height: 65px;
  top: 242px;
  left: 39px;
}

.aboutproject .group {
  height: 65px;
}

.aboutproject .group-40 {
  position: absolute;
  width: 305px;
  height: 91px;
  top: 170px;
  left: 600px;
}

.aboutproject .group-41 {
  position: absolute;
  width: 303px;
  height: 26px;
  top: 28px;
  left: 0;
}

.aboutproject .text-wrapper {
  width: 18px;
  top: 8px;
  left: 283px;
  font-family: "IBM Plex Mono-Bold", Helvetica;
  font-weight: 400;
  color: #46361796;
  font-size: 14px;
  text-align: center;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.aboutproject .element-2 {
  position: absolute;
  width: 274px;
  height: 25px;
  top: 0;
  left: 0;
}

.aboutproject .text-wrapper-2 {
  width: 257px;
  top: 64px;
  left: 22px;
  font-family: "IBM Plex Mono-Bold", Helvetica;
  font-weight: 400;
  color: #46361796;
  font-size: 14px;
  text-align: center;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.aboutproject .text-wrapper-3 {
  width: 257px;
  top: 0;
  left: 22px;
  font-family: "IBM Plex Mono-Bold", Helvetica;
  font-weight: 400;
  color: #46361796;
  font-size: 14px;
  text-align: center;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.aboutproject .text-wrapper-4 {
  width: 379px;
  height: 322px;
  top: 270px;
  left: 561px;
  font-family: "IBM Plex Mono-Bold", Helvetica;
  font-weight: 400;
  color: #46361796;
  font-size: 14px;
  text-align: justify;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.aboutproject .overlap-8 {
  position: absolute;
  width: 1007px;
  height: 550px;
  top: 893px;
  left: 219px;
}

.aboutproject .text-wrapper-5 {
  width: 373px;
  height: 322px;
  top: 230px;
  left: 564px;
  font-family: "IBM Plex Mono-Bold", Helvetica;
  font-weight: 400;
  color: #46361796;
  font-size: 14px;
  text-align: justify;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.aboutproject .element-wrapper {
  position: absolute;
  width: 385px;
  height: 54px;
  top: 248px;
  left: 77px;
}

.aboutproject .element-3 {
  position: absolute;
  width: 154px;
  height: 36px;
  top: 9px;
  left: 109px;
}

.aboutproject .overlap-9 {
  position: absolute;
  width: 1007px;
  height: 550px;
  top: 1535px;
  left: 219px;
}

.aboutproject .VR {
  position: absolute;
  width: 379px;
  height: 322px;
  top: 110px;
  left: 557px;
  font-family: "IBM Plex Mono-Bold", Helvetica;
  font-weight: 400;
  color: #46361796;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.aboutproject .element-4 {
  position: absolute;
  width: 302px;
  height: 40px;
  top: 268px;
  left: 119px;
}

.aboutproject .frame-2 {
  position: absolute;
  width: 121px;
  height: 23px;
  top: 79px;
  left: 880px;
}

.aboutproject .frame-3 {
  position: absolute;
  width: 74px;
  height: 23px;
  top: 79px;
  left: 1026px;
}

.aboutproject .frame-4 {
  position: absolute;
  width: 109px;
  height: 23px;
  top: 79px;
  left: 1130px;
}

.aboutproject .text-wrapper-6 {
  width: 112px;
  top: -1px;
  left: 5px;
  font-family: "IBM Plex Mono-Bold", Helvetica;
  font-weight: 700;
  color: #463617;
  font-size: 18px;
  text-align: center;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.aboutproject .text-wrapper-7 {
  width: 74px;
  top: -1px;
  left: 0;
  font-family: "IBM Plex Mono-Bold", Helvetica;
  font-weight: 700;
  color: #46361796;
  font-size: 18px;
  text-align: center;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.aboutproject .text-wrapper-8 {
  width: 97px;
  top: -1px;
  left: 2px;
  font-family: "IBM Plex Mono-Bold", Helvetica;
  font-weight: 700;
  color: #46361796;
  font-size: 18px;
  text-align: center;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

/* メディアクエリ（スマホ表示対応） */
/* @media (max-width: 480px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    padding-right: 20px;
    padding-top: 10px;
  }

  .aboutproject .frame {
    width: 70%;
    max-width: 300px;
    height: auto;
    left: 37%;
    transform: translateX(-50%);
    top: 50px;
  }

  .aboutproject .line {
    width: 90%;
    left: 5%;
    top: 100px;
  }

  .aboutproject .frame-2 {
    position: absolute;
    width: 121px;
    height: 23px;
    top: 11px;
    left: 271px;
  }

  .aboutproject .text-wrapper-6 {
    width: 112px;
    top: -1px;
    left: 5px;
    font-family: "IBM Plex Mono-Bold", Helvetica;
    font-weight: 700;
    color: #463617;
    font-size: 16px;
    text-align: center;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }

  .aboutproject .frame-3 {
    position: absolute;
    width: 74px;
    height: 23px;
    top: 39px;
    left: 311px;
  }

  .aboutproject .text-wrapper-7 {
    width: 74px;
    top: -1px;
    left: 0;
    font-family: "IBM Plex Mono-Bold", Helvetica;
    font-weight: 700;
    color: #46361796;
    font-size: 16px;
    text-align: center;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }

  .aboutproject .frame-4 {
    position: absolute;
    width: 109px;
    height: 23px;
    top: 67px;
    left: 290px;
  }

  .aboutproject .text-wrapper-8 {
    width: 97px;
    top: -1px;
    left: 2px;
    font-family: "IBM Plex Mono-Bold", Helvetica;
    font-weight: 700;
    color: #46361796;
    font-size: 16px;
    text-align: center;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }

  .aboutproject .overlap-group {
    width: 100%;
    left: 5%;
    top: 130px;
    height: auto;
  }

  .aboutproject .ellipse {
    position: absolute;
    width: 360px;
    height: 360px;
    top: 10px;
    left: 0px;
    background-color: #fffeee;
    border-radius: 270px;
  }

  .aboutproject .div {
    position: absolute;
    width: 370px;
    height: 370px;
    top: 10px;
    left: 0px;
    border-radius: 275px;
    border: 10px dotted;
    border-color: #ffa500;
    transform: rotate(-90deg);
  }

  .aboutproject .ellipse-2 {
    position: absolute;
    width: 370px;
    height: 370px;
    top: 10px;
    left: 70;
    background-color: #ffffff;
    border-radius: 270px;
    border: 5px solid;
    border-color: #ffa500;
  }

  .aboutproject .group-wrapper {
    position: absolute;
    top: 100px;
    left: -45px;
  }

  .group-combined {
    width: 65%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .aboutproject .group-40 {
    position: absolute;
    width: 305px;
    height: 91px;
    top: 170px;
    left: 40px;
  }

  .aboutproject .text-wrapper-4 {
    max-width: 70%;
    margin-top: 70px auto 0;
    position: relative;       /* ← ここ変更！ */
    top: auto;
    z-index: 100;
    font-family: "IBM Plex Mono-Bold", Helvetica;
    font-weight: 400;
    color: #46361796;
    font-size: 11px;
    text-align: justify;
    word-break: break-word;
    line-height: 1.7;
  }
} */